<footer class="panel-footer footer">
    <div class="container-fluid">
        <h3 class="inverted-color  form-heading">
            <span class="glyphicon glyphicon-gift"></span>
            BestReview
        </h3>
        <p class="text-left inverted-color">
            <b><span class="glyphicon glyphicon-gift"></span> BestReview</b> is a trademark of BestReview Ltd.
            <br> Copyright
            <span class="glyphicon glyphicon-copyright-mark"></span> 2016 BestReview Ltd.
            <br> All Rights Reserved
        </p>
    </div>
</footer>