<div class="container-fluid">
    <hr/>
<form class="form-horizontal">
    <div class="form-group">
        <label for="inputUsername3" class="col-sm-3 control-label">Username</label>
        <div class="col-sm-6">
            <input ng-model="model.user.username" type="text" class="form-control" id="inputUsername3"
                   placeholder="Username">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword1" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-6">
            <input ng-model="model.user.password" type="password" class="form-control" id="inputPassword1"
                   placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">Verify Password</label>
        <div class="col-sm-6">
            <input ng-model="model.verifypassword" type="password" class="form-control" id="inputPassword3"
                   placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-6">
            <input ng-model="model.user.email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button ng-click="model.signup(model.user)" type="submit" class="btn btn-info btn-block">Register</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{model.error}}
            </div>
        </div>
    </div>
</form>
</div>