<h1 class="page-header">Forms: {{model.form.title}}</h1>
<ul class="nav nav-tabs">
    <li ng-class="{'active': $location.url() == '/forms'}" role="presentation"><a href="#/forms">Forms</a></li>
    <li ng-class="{'active': $location.url() == '/fields'}" role="presentation"><a href="#/fields">Fields</a></li>
</ul>
<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <div ng-repeat="curField in model.fields">
                <div class="form-group">
                    <label>{{curField.label}}</label>
                    <div class="input-group">
                        <div ng-switch="curField.fieldType">
                            <div ng-switch-when="TEXT">
                                <input class="form-control" type="text" placeholder="{{curField.placeholder}}">
                            </div>
                            <div ng-switch-when="TEXTAREA">
                                <textarea class="form-control" placeholder="{{curField.placeholder}}"></textarea>
                            </div>
                            <div ng-switch-when="EMAIL">
                                <input class="form-control" type="email" placeholder="{{curField.placeholder}}">
                            </div>
                            <div ng-switch-when="DATE">
                                <input class="form-control" type="date">
                            </div>
                            <div ng-switch-when="RADIOS">
                                <div class="radio">
                                    <div ng-repeat="currOption in curField.options">
                                        <label><input type="radio" name="{{curField.label}}"
                                                      value="{{currOption.value}}">{{currOption.label}}</label>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="CHECKBOXES">
                                <div ng-repeat="currOption in curField.options">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="{{currOption.value}}">{{currOption.label}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="OPTIONS">
                                <select class="form-control">
                                    <option ng-repeat="currOption in curField.options" value="{{currOption.value}}">
                                        {{currOption.label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <span class="input-group-btn">
                             <button class="btn btn-warning" type="button"><span
                                     class="glyphicon glyphicon-pencil"></span></button>
                             <button class="btn btn-success" type="button"><span
                                     class="glyphicon glyphicon-plus"></span></button>
                             <button class="btn btn-danger" type="button" ng-click="model.removeField($index)"><span
                                     class="glyphicon glyphicon-remove"></span></button>
                             <button class="btn btn-primary" type="button"><span
                                     class="glyphicon glyphicon-align-justify"></span></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="addnewfield">Add New Field:</label>
                <div class="input-group">
                    <select class="form-control" id="addnewfield" ng-model="model.fieldType">
                        <option value="Single Line Text">Single Line Text</option>
                        <option value="Date">Date</option>
                        <option value="Dropdown">Dropdown</option>
                        <option value="Checkboxes">Checkboxes</option>
                        <option value="Radio buttons">Radio buttons</option>
                        <option value="Multi Line Text">Multi Line Text</option>
                    </select>
                  <span class="input-group-btn">
                        <button class="btn btn-success" type="button" ng-click="model.addField(model.fieldType)"><span
                                class="glyphicon glyphicon-plus"></span></button>
                  </span>
                </div>
            </div>
        </form>
    </div>
</div>
