<h1 class="page-header">Forms: {{model.form.title}}</h1>
<ul class="nav nav-tabs">
    <li ng-class="{'active': $location.url() == '/forms'}" role="presentation"><a href="#/forms">Forms</a></li>
    <li ng-class="{'active': $location.url() == '/fields'}" role="presentation"><a href="#/fields">Fields</a></li>
</ul>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form form-responsive" ng-model="model.fields" ui-sortable="model.fields">
            <div ng-repeat="curField in model.fields">
                <div class="form-group">
                    <label>{{curField.label}}</label>
                    <div class="input-group">
                        <div ng-switch="curField.type">
                            <div ng-switch-when="TEXT">
                                <input class="form-control" type="text"
                                       placeholder="{{curField.placeholder}}">
                            </div>
                            <div ng-switch-when="TEXTAREA">
                                <textarea class="form-control" placeholder="{{curField.placeholder}}"></textarea>
                            </div>
                            <div ng-switch-when="EMAIL">
                                <input class="form-control" type="email" placeholder="{{curField.placeholder}}">
                            </div>
                            <div ng-switch-when="DATE">
                                <input class="form-control" type="date">
                            </div>
                            <div ng-switch-when="RADIOS">
                                <div class="radio">
                                    <div ng-repeat="currOption in curField.options">
                                        <label><input type="radio" name="{{curField.label}}"
                                                      value="{{currOption.value}}">{{currOption.label}}</label>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="CHECKBOXES">
                                <div ng-repeat="currOption in curField.options">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="{{currOption.value}}">{{currOption.label}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="OPTIONS">
                                <select class="form-control">
                                    <option ng-repeat="currOption in curField.options" value="{{currOption.value}}">
                                        {{currOption.label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <span class="input-group-btn">
                             <button class="btn btn-warning" type="button" ng-click="model.editField(curField)"
                                     data-toggle="modal" data-target="#modal"><span
                                     class="glyphicon glyphicon-pencil"></span></button>
                             <button class="btn btn-success" type="button" ng-click="model.cloneField($index)"><span
                                     class="glyphicon glyphicon-plus"></span></button>
                             <button class="btn btn-danger" type="button" ng-click="model.removeField($index)"><span
                                     class="glyphicon glyphicon-remove"></span></button>
                             <button class="btn btn-primary" type="button"><span
                                     class="glyphicon glyphicon-align-justify"></span></button>
                        </span>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label for="addnewfield">Add New Field:</label>
                <div class="input-group">
                    <select class="form-control" id="addnewfield" ng-model="model.type">
                        <option value="Single Line Text">Single Line Text</option>
                        <option value="Date">Date</option>
                        <option value="Dropdown">Dropdown</option>
                        <option value="Checkboxes">Checkboxes</option>
                        <option value="Radio buttons">Radio buttons</option>
                        <option value="Multi Line Text">Multi Line Text</option>
                    </select>
                  <span class="input-group-btn">
                        <button class="btn btn-success" type="button" ng-click="model.addField(model.type)"><span
                                class="glyphicon glyphicon-plus"></span></button>
                  </span>
                </div>
            </div>
        </form>

        <!--modal-->
        <div class="modal fade" id="modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">{{model.field.label}}</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="label">Label:</label>
                            <input ng-model="model.field.label" type="text" class="form-control"
                                   id="label" placeholder="label">
                            <br>
                        </div>
                        <div ng-show="model.field.placeholder">
                            <label for="placeholder">Placeholder:</label>
                            <input ng-model="model.field.placeholder" type="{{model.field.type}}" class="form-control"
                                   id="placeholder" placeholder="Placeholder">
                        </div>
                        <div ng-show="model.field.optionsText">
                            <label for="option">Options:</label>
                            <textarea ng-model="model.field.optionsText" cols="50" rows="5" class="form-control"
                                      id="option"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="model.updateField(model.field)" class="btn btn-primary" type="button"
                                data-dismiss="modal">OK
                        </button>
                        <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
