<div ng-controller="SidebarController" class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#/search">All Products</a></li>
        <hr/>
        <li><a href="">Appliance</a></li>
        <li><a href="">TV & Home Theater</a></li>
        <li><a href="">Computer & Tablets</a></li>
        <li><a href="">Cell Phones</a></li>
        <li><a href="">Camera & Camcorders</a></li>
        <li><a href="">Audio</a></li>
        <li><a href="">Car Electronics & GPS</a></li>
        <li><a href="">Video Games, Movies & Music</a></li>
        <li><a href="">Health, Fitness & Beauty</a></li>
        <li><a href="">Connected Home & Housewares</a></li>
        <li><a href="">Toys, Games & Drones</a></li>
        <li><a href="">Wearable Technology</a></li>
    </ul>
</div>