<!--<div class="container">-->
<!--<h1 class="page-header">Welcome !</h1>-->
<!--<p class="lead">-->
<!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.-->
<!--Duis vulputate commodo lectus, ac blandit elit tincidunt id.-->
<!--Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.-->
<!--Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.-->
<!--Aenean velit odio, elementum in tempus ut, vehicula eu diam.-->
<!--Pellentesque rhoncus aliquam mattis.-->
<!--Ut vulputate eros sed felis sodales nec vulputate justo hendrerit.-->
<!--Vivamus varius pretium ligula, a aliquam odio euismod sit amet.-->
<!--Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra.-->
<!--Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.-->
<!--</p>-->
<!--</div>-->

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="../client/images/homepage_samsung-gear-vr.jpg" alt="First slide">
        </div>
        <div class="item">
            <img class="second-slide" src="../client/images/maxresdefault.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img class="third-slide" src="../client/images/bestbuy.jpg" alt="Third slide">
        </div>
    </div>
</div><!-- /.carousel -->


<!--<div class="container-fluid banner banner-image-home" ng-controller="HomeController">-->

<!--</div>-->
